<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hawkeye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpgMxJGANLpQP3F2wH4zNtw5ATFO8ldAQ" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".SignUp" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ForgotPassword"
            android:noHistory="true" />
        <activity
            android:name=".GuardActivity"
            android:noHistory="true" />
        <activity
            android:name=".UserActivity"
            android:noHistory="true" />
        <activity
            android:name=".AdminActivity"
            android:noHistory="true" />
        <activity
            android:name=".AddVehicle"
            android:noHistory="true" />
        <activity
            android:name=".MyVehiclesUser"
            android:noHistory="true" />
        <activity
            android:name=".MyGuest"
            android:noHistory="true" />
        <activity
            android:name=".EntryLogActivity"
            android:noHistory="true" />
        <activity
            android:name=".AddGuestActivity"
            android:noHistory="true" />
        <activity
            android:name=".UserLogActivity"
            android:noHistory="true" />
        <activity
            android:name=".Validate"
            android:noHistory="true" />
        <activity android:name=".ForcedValidate" />
        <activity android:name=".Maps" />
        <activity android:name=".RentPark"></activity>
    </application>

</manifest>